div#bg
div#header
  div#logo
  #nav
    div.nav-link 
      a.text-white.font-bold(href="/index.html") Home
    div.nav-link 
      a.text-white.font-bold(href="/lessons/index.html") Lessons
    div.nav-link 
      a.text-white.font-bold(href="/exercices/index.html") Exercies