doctype html
html
  include ../inc/head
  body
    include ../inc/header
    textarea#source
      include ../../slides/lessons/react-structure/slide-1.md
      include ../../slides/lessons/react-structure/slide-2.md
      include ../../slides/lessons/react-structure/slide-3.md
      include ../../slides/lessons/react-structure/slide-4.md
      include ../../slides/lessons/react-structure/slide-5.md
      include ../../slides/lessons/react-structure/slide-6.md
    include ../inc/scripts
