doctype html
html
  include ../inc/head
  body
    include ../inc/header
    textarea#source
      include ../../slides/lessons/map/slide-1.md
      include ../../slides/lessons/map/slide-2.md
      include ../../slides/lessons/map/slide-2.md
    include ../inc/scripts
