doctype html
html
  include inc/head
  body
    include inc/header
    div#area
      h1 Select a Route
      #cardArea
        .card.bg-purple
          h2.text-white Quick Start
          p.text-regular This covers how to get Node, NPM and React.js setup and running on your machine
          a(href="/quick-start.html").font-bold.text-white View Slides
        .card.bg-red
          h2.text-white Lessons
          p.text-regular Learn React and JS with lessons we will cover in class
          a(href="/lessons/index.html").font-bold.text-white View Slides
        .card.bg-teal
          h2.text-white Exercies
          p.text-regular These will re-enfornce what we cover with the lessons, and get you ready to build your own web-app
          a(href="/exercices/index.html").font-bold.text-white View Slides
        .card.bg-black
          h2.text-white Resources
          p.text-regular Some reccomened tools and reading to help with learning JS
          a(href="/resources.html").font-bold.text-white View Slides
