doctype html
html
  include ../inc/head
  body
    include ../inc/header
    textarea#source
      include ../../slides/exercices/component/slide-1.md
      include ../../slides/exercices/component/slide-2.md
      include ../../slides/exercices/component/slide-3.md

    include ../inc/scripts
