doctype html
html
  include ../inc/head
  body
    include ../inc/header
    textarea#source
      include ../../slides/lessons/server-vs-client/slide-1.md
      include ../../slides/lessons/server-vs-client/slide-2.md
    include ../inc/scripts
