div#bg
div#header
  div#logo
  div#nav
    div.nav-link
      a.text-white.font-bold(href="/index.html") Home
    div.nav-link 
      a.text-white.font-bold(href="/intro.html") Intro
    div.nav-link 
      a.text-white.font-bold(href="/backend.html") Backend
    div.nav-link 
      a.text-white.font-bold(href="/theming.html") Theming
    div.nav-link 
      a.text-white.font-bold(href="/restapi.html") React
