html
  include inc/head
  body
    include inc/header
    textarea#source
      include ../slides/backend/slide-1.md
      include ../slides/backend/block-intro/slide-1.md
      include ../slides/backend/block-intro/slide-2.md
      include ../slides/backend/custom-module/slide-1.md
      include ../slides/backend/custom-module/slide-2.md
      include ../slides/backend/block-plugin/slide-1.md
      include ../slides/backend/block-plugin/slide-2.md
      include ../slides/backend/block-plugin/slide-3.md
      include ../slides/backend/module-parts/slide-1.md
      include ../slides/backend/module-parts/slide-2.md
      include ../slides/backend/module-parts/slide-3.md
    include inc/scripts
