html
  include inc/head
  body
    include inc/header
    textarea#source
      include ../slides/restapi/slide-1.md
      include ../slides/restapi/decoupled/slide-1.md
      include ../slides/restapi/decoupled/slide-2.md
      include ../slides/restapi/intro/slide-1.md
      include ../slides/restapi/endpoints/slide-1.md
      include ../slides/restapi/endpoints/slide-2.md
      include ../slides/restapi/endpoints/slide-3.md
      include ../slides/restapi/endpoints/slide-4.md
      include ../slides/restapi/endpoints/slide-5.md
    include inc/scripts
