html
  include inc/head
  body
    include inc/header
    textarea#source
      include ../slides/theming/slide-1.md
      include ../slides/theming/custom-theme/slide-1.md
      include ../slides/theming/custom-theme/slide-2.md
      include ../slides/theming/custom-theme/slide-3.md
      include ../slides/theming/custom-theme/slide-4.md
    include inc/scripts
