doctype html
html
  include inc/head
  body
    div#bg
    div#header
      div#logo
    textarea#source
      include ../slides/exercices/slide-1.md

      include ../slides/exercices/css/slide-1.md

      include ../slides/exercices/jsx/slide-1.md

      include ../slides/exercices/component/slide-1.md
      include ../slides/exercices/component/slide-2.md
      include ../slides/exercices/component/slide-3.md

      include ../slides/exercices/json/slide-1.md
      include ../slides/exercices/json/slide-2.md

      include ../slides/exercices/props/slide-1.md
      include ../slides/exercices/props/slide-2.md

      include ../slides/exercices/class/slide-1.md
      include ../slides/exercices/class/slide-2.md

      include ../slides/exercices/state/slide-1.md
      include ../slides/exercices/state/slide-2.md
      include ../slides/exercices/state/slide-3.md
    include inc/scripts
