doctype html
html
  include inc/head
  body
    div#bg
    div#header
      div#logo
    div#area
      h1 Select a Route
      #cardArea
        .card.bg-purple
          h2.text-white Quick Start
          p.text-regular This covers how to get Node, NPM and React.js setup and running on your machine
          a(href="/quick-start.html").font-bold.text-white View Slides
        .card.bg-red
          h2.text-white Lessons
          p.text-regular This covers how to get Node, NPM and React.js setup and running on your machine
          a(href="/lessons.html").font-bold.text-white View Slides
        .card.bg-teal
          h2.text-white Exercies
          p.text-regular This covers how to get Node, NPM and React.js setup and running on your machine
          a(href="/exercices.html").font-bold.text-white View Slides
        .card.bg-black
          h2.text-white Resources
          p.text-regular This covers how to get Node, NPM and React.js setup and running on your machine
          a(href="/quick-start").font-bold.text-white View Slides
