doctype html
html
  include inc/head
  body
    div#bg
    div#header
      div#logo
    textarea#source
      include ../slides/lessons/slide-1.md
      include ../slides/lessons/server-vs-client/slide-1.md
      include ../slides/lessons/server-vs-client/slide-2.md
      include ../slides/lessons/react/slide-1.md
      include ../slides/lessons/react-structure/slide-1.md
      include ../slides/lessons/react-structure/slide-2.md
      include ../slides/lessons/react-structure/slide-3.md
      include ../slides/lessons/react-structure/slide-4.md
      include ../slides/lessons/react-structure/slide-5.md
      include ../slides/lessons/constLet/slide-1.md
      include ../slides/lessons/map/slide-1.md
      include ../slides/lessons/map/slide-2.md
      include ../slides/lessons/props/slide-1.md
    include inc/scripts
