doctype html
html
  include inc/head
  body
    div#bg
    div#header
      div#logo
    textarea#source
      include ../slides/quick-start/slide-1.md
      include ../slides/quick-start/mac/slide-1.md
      include ../slides/quick-start/mac/slide-2.md
      include ../slides/quick-start/mac/slide-3.md
      include ../slides/quick-start/windows/slide-1.md
      include ../slides/quick-start/windows/slide-2.md
      include ../slides/quick-start/windows/slide-3.md
    include inc/scripts
