doctype html
html
  include ../inc/head
  body
    include ../inc/header
    textarea#source

      include ../../slides/exercices/json/slide-1.md
      include ../../slides/exercices/json/slide-2.md

    include ../inc/scripts
